body{
    background-color: #37312b !important;
    color: antiquewhite !important;
    text-align: center;
}

.container{
    padding: 40px;
}

.my-button{
    background-color: #ffdc66;
    width: 100px;
    padding: 10px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    color: #37312b;
}

.my-button:hover, .my-button:focus {
    background-color: #fffc82;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
}

.my-textarea{
    background-color: #ffdc66;
    outline: none !important;
    border: none !important;
    color: #37312b;
    width: 410px;
    height: 200px;
    padding: 5px;
    text-align: center;
}